Use standards compliant padding when computing u and k

In the current code, the computation of `u` and `k` do not use the zero byte padding specified in RFC 5054. We should fix that.

Care needs to be taken, particularly with the computation of `u` to manage a migration of what might otherwise be a seriously breaking change.

From [RFC 5055 §2.1](https://datatracker.ietf.org/doc/html/rfc5054):

> Conversion between integers and byte-strings assumes the most significant bytes are stored first, as per [[TLS](https://datatracker.ietf.org/doc/html/rfc5054#ref-TLS)] and [[SRP RFC](https://datatracker.ietf.org/doc/html/rfc5054#ref-SRP-RFC)].  In the following text, if a conversion from integer to byte-string is implicit, the most significant byte in the resultant byte-string MUST be non-zero.  If a conversion is explicitly specified with the operator PAD(), the integer will first be implicitly converted, then the resultant byte-string will be left-padded with zeros (if  necessary) until its length equals the implicitly-converted length of N.